@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:wght@300;400&display=swap');


* {
    font-family: 'Poppins', sans-serif;
}

input[type=text]:focus {
    border-color: #fff;
    border:none;
    
}




body {

margin:0;
padding: 0;
}


a {
    text-decoration: none;
    color:inherit;
}

.desktop_header {background: #000;height: 62px;padding-top: 19px;}


.desktop_size {
width: 86%;
margin: 0 auto;
}

.header_wrapper {
display: flex;
justify-content: space-between;
align-items: center;
}
.d_logo {height: 40px;}
.logo_img {height: 43px;}


.top_menu {
display: flex;
width: 500px;
justify-content: space-between;
}


.h_link {
color:#fff;
transition: 0.5s;
}

.h_link:hover {
    color:grey;
    cursor: pointer;
}


.mobile_header {

}

.cover {padding-top: 100px;background: #ffffff;padding-bottom: 80px;}

.cover_wrapper {
display: flex;
justify-content: space-between;
}
.cover_text {
width: 56%;
}
.cover_heading {font-size: 45px;font-weight: 600;width: 565px;}
.cover_description {

}

.cover_description  p {

}

.cover_image {
width: 40%;
}

.cover_image img {
height: 400px;
}

.apply_section {width: 500px;background: #3a9cda;height: 60px;display: flex;align-items: center;border-radius: 37px;justify-content: space-between;}

.email_input {outline: none;border: none;padding: 10px 10px;width: 300px;border-radius: 19px;margin-left: 12px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;}
.submit_btn {background: #222;color: #fff;border: none;padding: 8px;width: 150px;font-size: 17px;border-radius: 17px;border-top-left-radius: 0px;border-bottom-left-radius: 0px;}

.cover_widgets {display: flex;justify-content: space-between;margin-top: 58px;}
.home_widget {width: 325px;display: flex;justify-content: space-between;align-items: center;transition: 1s;}
.home_widget:hover {
    opacity: 0.2;
    transform: scale(1.2);
}
.widget_img {width: 106px;}

.widget_img img {
    width: 100%;
}

.widget_text {width: 200px;}
.w_title {font-weight: 600;font-size: 20px;}
.w_desc {

}

.info_section {padding-top: 100px;padding-bottom: 100px;background: #000;}

.section_title {font-size: 42px;text-align: center;font-weight: 600;color: #faefc6;}
.section_title_black {font-size: 42px;text-align: center;font-weight: 600;color: #000000;}
.section_desc {
text-align: center;
font-size: 17px;
}

.info_wrapper {display: flex;justify-content: space-between;margin-top: 68px;color: #fff;}

.info_text_section {

}

.info_text_section {
width: 50%;
}

.info_text_section p {
    line-height: 1.8;
    font-size: 18px;
    width: 74%;
    }
.info_headline {font-size: 30px;font-weight: 600;margin-bottom: 35px;}


.info_image {
width: 40%;
}
.info_image img {
    
}

.services_section {padding-top: 100px;padding-bottom: 100px;}

.services_wrapper {display: flex;justify-content: space-between;flex-flow: wrap;margin-top: 79px;}

.service_widget {width: 41%;height: 159px;margin-bottom: 113px;text-align: center;border: 1px solid #dedede;padding: 20px;padding-top: 108px;box-shadow: 0px 0px 33px -10px #555;transition: 0.5s;border-radius: 20px;}



.service_widget:hover {
    box-shadow: 0px 0px 33px 3px #555;
}

.service_widget:hover .onhover {
    display: block;
}
.s_w_t {font-size: 22px;margin-bottom: 10px;cursor: pointer;}
.s_w_d {
    
}

.clients_section {padding-top: 111px;padding-bottom: 100px;background: linear-gradient(356deg, #e2e8ff, #cdedea);}

.clients_wrapper {display: flex;justify-content: space-between;margin-top: 119px;}

.client_logo {
    height: 53px;
}

.client_logo img {
    height: 100%;
}

.contact_section {
padding-top: 100px;
padding-bottom: 100px;
}


.contact_wrapper {display: flex;margin-top: 60px;}

.contact_form {width: 60%;}

.contact_info {width: 40%;}
.contact_i {display: flex;align-items: center;font-size: 20px;margin-bottom: 20px;}

.contact_i img {height: 17px;margin-right: 5px;}

.sub_input {width: -webkit-fill-available;padding: 10px;font-size: 19px;margin-bottom: 20px;}
.msg_box {
    width: -webkit-fill-available;
    height: 195px;
    padding: 15px;
    font-size: 19px;
    resize: none;
}
.send_msg_btn {
    border: 1px solid #dedede;
    width: -webkit-fill-available;
    padding: 10px;
    font-size: 22px;
    background: #444;
    color: #ffff;
    border-radius: 9px;
}


.footer_section {
padding-top: 60px;
padding-bottom: 100px;
background-color: #000;
}

.footer_wrapper {
margin-top: 100px;
display: flex;
justify-content: space-between;
}
.company_info {
width: 40%;
}
.footer_widgets {
width: 60%;
display: flex;
justify-content: space-between;
}
.f_w_b {
    width: 16%;
}
.f_w_t {
    font-size: 22px;
    font-weight: 600;
    color:#fff;
    margin-bottom: 20px;
}

.f_w_l {
color:#fff;
transition: 1s;
margin-bottom: 7px;
}

.f_w_l:hover {
color:#999;
}

.footer_comp_logo {
    height: 50px;
}

.footer_comp_logo img {
    height: 100%;
}
.company_text {
    margin-top: 20px;
    font-size: 18px;
    color:#999;
}
.copyright {
margin-top: 10px;
color:#fff;
font-size: 14px;
}

.onhover {
display: none;
width: 50px;
margin: 0 auto;
margin-top: 20px;
transition: ease-in 1s;
}
.onhover img {
width: 50px;
}