@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:wght@300;400&display=swap');


* {
    font-family: 'Poppins', sans-serif;
}

input[type=text]:focus {
    border-color: #fff;
    border:none;
    
}




body {

margin:0;
padding: 0;
}


a {
    text-decoration: none;
    color:inherit;
}

.desktop_header {background: #000;height: 62px;padding-top: 19px;}


.desktop_size {
width: 86%;
margin: 0 auto;
}

.header_wrapper {
display: flex;
justify-content: space-between;
align-items: center;
}
.d_logo {height: 40px;}
.logo_img {height: 43px;}


.top_menu {
display: flex;
width: 500px;
justify-content: space-between;
}


.h_link {
color:#fff;
transition: 0.5s;
}

.h_link:hover {
    color:grey;
}


.mobile_header {

}

.cover {padding-top: 100px;background: #ffffff;padding-bottom: 80px;}

.cover_wrapper {
display: flex;
justify-content: space-between;
}
.cover_text {
width: 56%;
}
.cover_heading {font-size: 45px;font-weight: 600;width: 565px;}
.cover_description {

}

.cover_description  p {

}

.cover_image {
width: 40%;
}

.cover_image img {
height: 400px;
}

.apply_section {width: 500px;background: #3a9cda;height: 60px;display: flex;align-items: center;border-radius: 37px;justify-content: space-between;}

.email_input {outline: none;border: none;padding: 10px 10px;width: 300px;border-radius: 19px;margin-left: 12px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;}
.submit_btn {background: #222;color: #fff;border: none;padding: 8px;width: 150px;font-size: 17px;border-radius: 17px;border-top-left-radius: 0px;border-bottom-left-radius: 0px;}

.cover_widgets {display: flex;justify-content: space-between;margin-top: 58px;}
.home_widget {width: 325px;display: flex;justify-content: space-between;align-items: center;transition: 1s;}
.home_widget:hover {
    opacity: 0.2;
    transform: scale(1.2);
}
.widget_img {width: 106px;}

.widget_img img {
    width: 100%;
}

.widget_text {width: 200px;}
.w_title {font-weight: 600;font-size: 20px;}
.w_desc {

}